<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<img src="/assets/home.png" class="home-pic">
			<br>
			<div class="descbox"></div>
		</div>
		<div class="span5">
			<div class="tab-box">
				<div class="tab-text">
					See How Much You Can Save!
				</div>
			</div>
			<div class="form-box">
				<div class="form-title">
					<span class="free">Free</span> Solar Energy Quote
				</div>
				<%= form_for User.new, :remote => true, :html => {:id => "form1"} do |f| %>
					<div class="row">
						<div class="span2">
							<%= label_tag :first_name %>
							<%= text_field_tag :first_name, nil, :class => "xverify_firstname", :placeholder => "First Name" %>
							<div class="message" id="firstname_error"></div>
						</div>
						<div class="span2 lastnamediv">
							<%= label_tag :last_name %>
							<%= text_field_tag :last_name, nil, :class => "xverify_lastname", :placeholder => "Last Name" %>
							<div class="message" id="lastname_error"></div>
						</div>
					</div>
					<%= label_tag :address %>
					<%= f.text_field :address, :class => "xverify_street", placeholder: "Address" %>
					<div class="message" id="address_error"></div>
					<div class="row">
						<div class="span2">
							<%= label_tag :city %>
							<%= f.text_field :city, :class => "xverify_city", placeholder: "City" %>
							<div class="message" id="city_error"></div>
						</div>
						<div class="span1">
							<%= label_tag :state %>
							<%= f.select :state, options_for_select(us_states) %>
						</div>
						<div class="span1">
							<%= label_tag :zipcode %>
							<%= f.text_field :zipcode, :class => "xverify_zip", placeholder: "Zipcode" %>
							<div class="message" id="zip_error"></div>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<%= label_tag :email %>
							<%= f.text_field :email, :class => "xverify_email", placeholder: "Email" %>
							<div class="message" id="email_error"></div>
						</div>
						<div class="span2 phonediv">
							<%= label_tag :phone %>
							<%= f.text_field :phone, :class => "xverify_phone", placeholder: "Phone Number" %>
							<div class="message" id="phone_error"></div>
						</div>
					</div>
					<%= label_tag :electric, "Is your monthly average electric bill over $150 per month?" %>
					<%= f.select :electric, options_for_select(monthly_average), :include_blank => true %>
					<div class="message" id="electric_error"></div>
					<%= f.submit "Get My Quote >>", :class => "home-submit", :id => "submit1" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="info-box">
		<div class="row">
			<div class="span1">
			</div>
			<div class="span5">
				<div class="info-box-title">
					Solar Energy Savings
				</div>
				FastSolar will match you with a solar company to install a solar system on your roof, for Zero Cost Down. Installation is 100% free, you just pay for your clean energy each month like you would your energy bill. The only difference is, your new bill will be much lower! So, you save money each month for years and years.
			</div>
			<div class="span5">
				<img src="/assets/solarhome.png">
			</div>
		</div>
	</div>
	<div class="disclaimer">
		Copyright 2013 All Rights Reserved | <a href="/privacy">Terms and Privacy Policy</a>
	</div>
</div>
<%= render partial: 'users/form2' %>
<%= render partial: 'users/form3' %>
<script type="text/javascript">
	var timezone = jstz.determine();
	console.log(timezone.name());
	$('input#user_zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
					if (response == "yes") {
						$('#zip_error').empty();
						$('#zipcheck img').show();
					}
				  }
			});
	});
	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 0 || $('input#user_phone').val().replace(/\D+/g,'')[0] == 1) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter a valid phone number");
			$('#phonecheck img').hide();
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length == 10 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 0 && $('input#user_phone').val().replace(/\D+/g,'')[0] != 1) {
			$('#phone_error').empty();
			$('#phonecheck img').show();
		}
	});

	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
			$('#emailcheck img').show();
		}
	});

	$('input#first_name').blur(function(event){
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		if ($('input#first_name').val().length > 0) {
			$('#firstname_error').empty();
			$('#firstnamecheck img').show();
		}
	});

	$('input#last_name').blur(function(event){
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
		if ($('input#last_name').val().length > 0) {
			$('#lastname_error').empty();
			$('#lastnamecheck img').show();
		}
	});

	$('input#user_city').blur(function(event){
		if ($('input#user_city').val().length < 2) {
			event.preventDefault();
			$('#city_error').empty().append("Please enter a valid city");
			$('#citycheck img').hide();
		}
		if ($('input#user_city').val().length > 0) {
			$('#city_error').empty();
			$('#citycheck img').show();
		}
	});
	$('input#user_address').blur(function(event){
		if ($('input#user_address').val().length < 2) {
			event.preventDefault();
			$('#address_error').empty().append("Please enter a valid address");
			$('#addresscheck img').hide();
		}
		if ($('input#user_address').val().length > 0) {
			$('#address_error').empty();
			$('#addresscheck img').show();
		}
	});
	$('select#user_electric').bind('click change',function() {
		if ($('#user_electric').val() != "") {
			$('#electric_error').empty();
		}
		if ($('#user_electric').val() == "") {
			$('#electric_error').empty().append("Please select an option");
		}

	});

	$('#submit1').click(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
				  }
		});
		if ($('#user_electric').val() == "") {
			event.preventDefault();
			$('#electric_error').empty().append("Please select an option");
		}
		if ($('input#user_address').val().length < 2) {
			event.preventDefault();
			$('#address_error').empty().append("Please enter a valid address");
			$('#addresscheck img').hide();
		}
		if ($('input#user_city').val().length < 2) {
			event.preventDefault();
			$('#city_error').empty().append("Please enter a valid city");
			$('#citycheck img').hide();
		}
		if ($('input#last_name').val().length < 2) {
			event.preventDefault();
			$('#lastname_error').empty().append("Please enter your last name");
			$('#lastnamecheck img').hide();
		}
		if ($('input#first_name').val().length < 2) {
			event.preventDefault();
			$('#firstname_error').empty().append("Please enter your first name");
			$('#firstnamecheck img').hide();
		}
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
			$('#emailcheck img').hide();
		}
	});
	$(".info-box").click(function() {
		if ($(".expand-button").text() == " + ") {
			$(".expand-button").text("-");
		}
		else {
			$(".expand-button").text(" + ");
		}
		$(".expand-button").toggleClass("minus-button");
		$( ".info-text" ).slideToggle();
	});

</script>