<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<img src="/assets/home.png" class="home-pic"> 
		</div>
		<div class="span5">
			<div class="tab-box">
				<div class="tab-text">
					See How Much You Can Save!
				</div>
			</div>
			<div class="form-box">
				<div class="form-title">
					Sign Up Now for a <span class="free">Free</span> Quote
				</div>
				<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
					<div class="row">
						<div class="span2">
							<%= label_tag :first_name %>
							<%= text_field_tag :first_name, nil, :placeholder => "First Name" %>
							<span class="checkimg" id="firstnamecheck"><img src="/assets/check.png"></span>
							<div class="message" id="firstname_error"></div>
						</div>
						<div class="span2 lastnamediv">
							<%= label_tag :last_name %>
							<%= text_field_tag :last_name, nil, :placeholder => "Last Name" %>
							<span class="checkimg" id="lastnamecheck"><img src="/assets/check.png"></span>
							<div class="message" id="lastname_error"></div>
						</div>
					</div>
					<%= label_tag :address %>
					<%= f.text_field :address, placeholder: "Address" %>
					<div class="row">
						<div class="span2">
							<%= label_tag :city %>
							<%= f.text_field :city, placeholder: "City" %>
						</div>
						<div class="span1">
							<%= label_tag :state %>
							<%= f.select :state, options_for_select(us_states) %>
						</div>
						<div class="span1">
							<%= label_tag :zipcode %>
							<%= f.text_field :zipcode, placeholder: "Zipcode" %>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<%= label_tag :email %>
							<%= f.text_field :email, placeholder: "Email" %>
						</div>
						<div class="span2 phonediv">
							<%= label_tag :phone %>
							<%= f.text_field :phone, placeholder: "Phone Number" %>
						</div>
					</div>
					<%= label_tag :electric, "Your average monthly electric bill is:" %>
					<%= f.text_field :electric, placeholder: "ex: $100" %>
					<%= f.submit "Get My Quote >>", :class => "home-submit", :id => "submit1" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="info-box">
		sdfsdfs
	</div>
</div>
<script type="text/javascript">
	$('input#user_zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
					if (response == "yes") {
						$('#zip_error').empty();
						$('#zipcheck img').show();
					}
				  }
			});
	});
	$('#submit1').click(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
				  }
		});
	});
	$(".info-box").click(function() {
		if ($(".expand-button").text() == " + ") {
			$(".expand-button").text("-");
		}
		else {
			$(".expand-button").text(" + ");
		}
		$(".expand-button").toggleClass("minus-button");
		$( ".info-text" ).slideToggle();
	});

</script>