<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
	<div class="bbb-logo">
		<img src="/assets/bbb.png">
	</div>
	<div class="home-title">
		Need help with your Social Security disability claim?
		<br>
		Get your FREE, no-obligation evaluation now.
	</div>
	<div class="home-subtitle">
		All free evaluations are performed by an experienced social security disability advocate or attorney.
	</div>
	<div class="progress-bar">
		<img src="/assets/progress-1.png">
	</div>
	<div class="woman-pic">
		<img src="/assets/woman.png">
	</div>
	<div class="form-box">
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<span id="phone">Phone:</span>
			<%= f.text_field :phone, :placeholder => "215-444-3344" %>
			<br>
			<span id="email">Email:</span>
			<%= f.text_field :email, :placeholder => "bob@yahoo.com" %>
			<br>
			<span id="firstname">First Name:</span>
			<%= text_field_tag :first_name, nil, :placeholder => "First Name" %>
			<br>
			<span id="lastname">Last Name:</span>
			<%= text_field_tag :last_name, nil, :placeholder => "Last Name" %>
			<br>
			<span id="zipcode">Zipcode:</span>
			<%= text_field_tag :zipcode, nil, placeholder: "Zipcode" %>
			<br>
			<div id="newsubmit1"></div>
			<%= f.submit "Do I Qualify?", :class => "home-submit" %>
		<% end %>
	</div>
	<div class="arrow">
		<img src="/assets/arrow.png">
	</div>
</div>
<div class="container" align="center">
	<div class="logos-box">
		<hr>
		<img src="/assets/logos.png">
	</div>
	<div class="disclaimer">
		<div class="privacy">
			<a href="/privacy"> Privacy Policy</a>
		</div>
		Disclaimer: THIS IS AN ADVERTISEMENT. Advertising is paid for by participating attorneys and advocates. The site is not an attorney referral service. This website is privately owned and is not affiliated with or endorsed by Social Security Administration or any other government agency. The promotion of this website is sponsored exclusively by professional Social Security Attorneys and Advocacy Groups, in effort to provide services to the public for Disability issues.
	</div>
</div>
<%= render partial: "users/form2" %>