<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="blue-border"></div>
<div class="container" align="center">
	<div class="form-box">
		<div class="form-title">
			Free Social Security Disability Case Evaluation
		</div>
		<div class="progress-bar">
			<img src="/assets/progressbar1.png">
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<span id="zipcode">What is your zipcode?</span>
			<span class="required-star"><img src="/assets/required.gif"></span>
			<%= f.text_field :zipcode, placeholder: "Zipcode" %>
			<span class="checkimg" id="zipcheck"><img src="/assets/check.png"></span>
			<div class="message" id="zip_error"></div>
			<br>
			<span id="age">How old are you?</span>
			<span class="required-star"><img src="/assets/required.gif"></span>
			<%= f.select :age, options_for_select(age_options) %>
			<span class="checkimg" id="agecheck"><img src="/assets/check.png"></span>
			<div class="message" id="age_error"></div>

			<div id="newsubmit1"></div>
			<%= f.submit "Do I Qualify?", :class => "home-submit", :id => "submit1" %>
		<% end %>
	</div>
	<div class="testimonial">
		<div class="testimonial-title">
			About Us:
		</div>
		<hr>
		<div class="testimonial-body">
			Since 2008, we have been helping individuals facing a legal issue find licensed, local attorneys that can help resolve their legal matters. We help over 50,000 consumers every month and our service is provided to you completely and 100% free of charge.
		</div>
		<span class="bbb"><img src="/assets/bbb.png"></span>
		<span class="trustlink"><img src="/assets/trustlink.png"></span>
	</div>
	<div class="seenin">
		<div class="seenintitle">
			Seen In:
		</div>
		<img src="/assets/seenin.png">
	</div>
</div>
<div class="footer">
	<div class="container" align="right">
		<div class="disclaimer">
			<div class="privacy">
				<a style="color:white;padding-right:20px" href="/privacy"> Privacy Policy</a>
				<a style="color:white;" href="/terms"> Terms of Use </a>
			</div>
		</div>
	</div>
</div>
<%= render partial: "users/form2" %>
<%= render partial: "users/form3" %>
<%= render partial: "users/form4" %>

<script type="text/javascript">
	$('input#user_zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
					if (response == "yes") {
						$('#zip_error').empty();
						$('#zipcheck img').show();
					}
				  }
			});
	});
	$('#submit1').click(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#user_zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
						$('#zipcheck img').hide();
					}
				  }
		});
	});
</script>