<%= form_for @user, :html => {:id => "form3"} do |f| %>
	<%= f.label :appointment, 'Please choose a date for your free onsight inspection.' %>
	<%= f.select :appointment, options_for_select(appointment), :include_blank => true %>
	<span class="checkimg" id="appointmentcheck"><img src="/assets/check.png"></span>
	<div class="desc">
		(A specialist will call to confirm availability prior to your appointment. This date can be changed when we call to confirm)
	</div>
	<div class="message" id="appointment_error"></div>

	<%= f.label :time_zone, 'Please select your time zone' %>
	<%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :include_blank => true %>
	<span class="checkimg" id="zonecheck"><img src="/assets/check.png"></span>
	<div class="desc">
	</div>
	<div class="message" id="zone_error"></div>

	<%= f.submit "Next >>", :class => "home-submit", :id => "submit3"%>
<% end %>

<script type="text/javascript">
	$('select#user_appointment').bind('click change',function() {
		if ($('#user_appointment').val() != "") {
			$('#appointment_error').empty();
		}
		if ($('#user_appointment').val() == "") {
			$('#appointment_error').empty().append("Please select an option");
		}
	});
	$('select#user_time_zone').bind('click change',function() {
		if ($('#user_time_zone').val() != "") {
			$('#zone_error').empty();
		}
		if ($('#user_time_zone').val() == "") {
			$('#zone_error').empty().append("Please select an option");
		}
	});
	$('#submit3').click(function(event){
		if ($('#user_appointment').val() == "") {
			event.preventDefault();
			$('#appointment_error').empty().append("Please select an option");
		}
		if ($('#user_time_zone').val() == "") {
			event.preventDefault();
			$('#zone_error').empty().append("Please select an option");
		}
	});
</script>