<%= form_for @user, :html => {:id => "form2"} do |f| %>
	<%= f.label :employment, 'Do you expect to be unemployed for at least 12 months?' %>
	<%= f.select :employment, options_for_select(employment_options) %>
	<span class="checkimg" id="employmentcheck"><img src="/assets/check.png"></span>
	<div class="desc">
	</div>
	<div class="message" id="employment_error"></div>

	<%= f.label :medical, 'Are you currently receiving medical treatment for your disabling condition?' %>
	<%= f.select :medical, options_for_select(medical_options) %>
	<span class="checkimg" id="medicalcheck"><img src="/assets/check.png"></span>
	<div class="desc">
	</div>
	<div class="message" id="medical_error"></div>
	
	<%= f.label :attorney, 'Do you currently have a disability or attorney advocate?' %>
	<%= f.select :attorney, options_for_select(attorney_options) %>
	<span class="checkimg" id="attorneycheck"><img src="/assets/check.png"></span>
	<div class="desc">
	</div>
	<div class="message" id="attorney_error"></div>

	<%= f.submit "Next >>", :class => "home-submit", :id => "submit2"%>
<% end %>
<script type="text/javascript">
	$('select#user_employment').bind('click change',function() {
		$('#employmentcheck img').show();
	});
	$('select#user_medical').bind('click change',function() {
		$('#medicalcheck img').show();
	});
	$('select#user_attorney').bind('click change',function() {
		$('#attorneycheck img').show();
	});
	$('#submit2').click(function(){
		event.preventDefault();
		$.ajax({
			type: "POST",
			url: $('#form2').attr('action'),
			data: { medical: $("select#user_medical").val(), employment: $("select#user_employment").val(), attorney: $("select#user_attorney").val() },
			dataType: "script",
			async: false
		});
		$('#form2').hide();
		$('#form3').show().appendTo('.form-box');
		$('.progress-bar img').attr('src','/assets/progressbar3.png');
		$('.info-box').css('margin-top','-80px')
	});
</script>